
.container
    max-width: 1114px

.slider
    background-image: url(../img/background.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    // width: 100%;
    height: 100vh

.s1
    height: 100vh

.nav
    padding-top: 20px

#Bouncy
    text-transform: uppercase
    font-family: 'big_johnregular'
    font-size: 30px
    font-weight: 400
    margin: 0

.nav-item
    border: 1px solid transparent

.text-white
    font-family: 'open_sansregular'
    font-size: 15px
    font-weight: 400
    padding-top: 2px !important
    padding-bottom: 3px !important

.active
    border-radius: 16px
    border: 1px solid #ffffff

.nav-item:hover
    border-radius: 16px
    border: 1px solid #ffffff
    // padding-left: 20px;
    // padding-right: 0px;

.text1
    padding-top: 15%
    // переделать ширину

#code
    color: #ffffff
    text-transform: uppercase
    font-family: 'source_sans_prolight'
    font-size: 33px
    letter-spacing: 7px

.text2
    padding-top: 18px
    color: #ffffff
    font-family: 'open_sansregular'
    font-size: 15px
    font-weight: 400
    line-height: 26.57px
    letter-spacing: 0.8px

.text3
    position: absolute
    top: 85%
    left: 50%

.about
    background-color: #ffffff

.aboutrow
    height: 463px

%sans
    font-family: 'source_sans_prolight'
    color: #333b46
    font-size: 19px
    font-weight: 300
    line-height: 11.39px
    text-transform: uppercase
    letter-spacing: 4px

.this
    @extend %sans

%open
    color: #81868e
    font-family: 'open_sansregular'
    font-size: 13px
    font-weight: 400
    line-height: 23.72px
    letter-spacing: 0.7px

.text4
    @extend %open
    padding-top: 40px

.btn
    border-radius: 16px !important

.aboutdetails
    background-color: #f3f3f3
    height: 585px

.detailstext
    @extend %sans

.text5
    padding-top: 70px

.text6
    @extend %open

%open1
    color: #464646
    font-family: 'open_sansregular'
    font-size: 19px
    font-weight: 400
    line-height: 118.6px
    letter-spacing: 0.8px

.text7
    @extend %open1

.text8
    color: #81868e
    font-family: 'open_sansregular'
    font-size: 15px
    font-weight: 400
    line-height: 26.57px
    letter-spacing: 0.8px

.text9
    @extend %open

.vero
    font-weight: 700
    letter-spacing: 0.8px
    color: #19bd9a

.ducimus
    font-weight: 700
    letter-spacing: 0.8px
    color: #636971

.work
    background-color: white
    // height: 634px;

.work1
    height: 223px

.text10
    @extend %sans

.text11
    @extend %open

.icon
    padding-bottom: 15px

.graphic
    color: #464646
    font-family: 'open_sansregular'
    font-size: 19px
    font-weight: 600
    letter-spacing: 0.8px

.at
    padding-top: 28px
    text-align: left
    color: #81868e
    font-family: 'open_sansregular'
    font-size: 15px
    font-weight: 500
    letter-spacing: 0.8px

.quos
    padding-top: 36px
    color: #81868e
    font-family: 'open_sansregular'
    font-size: 13px
    font-weight: 500
    letter-spacing: 0.7px

.chart
    display: flex
    flex-wrap: wrap

.single-chart
    padding-top: 40px
    width: 33%
    justify-content: center

.circular-chart
    display: block
    margin: 10px auto
    max-width: 80%
    max-height: 250px

.circle-bg
    fill: none
    stroke: #1cbd9b
    stroke-width: 1.0

.circle
    fill: none
    stroke-width: 0.8
    stroke-linecap: round
    stroke: #3a9093
    animation: progress 10s ease-out forwards

@keyframes progress
    0%
        stroke-dasharray: 100 0

.circular-chart .circle
    stroke: #3a9093

.percentage
    fill: #666
    font-family: sans-serif
    font-size: 0.5em
    text-anchor: middle

.legs
    background-image: url(../img/legs.jpg)
    height: 108px
    background-repeat: no-repeat
    background-size: cover

.legs1
    padding-top: 35px

.submit
    color: #ffffff
    font-family: 'open_sansregular'
    font-size: 19px
    font-weight: 400
    letter-spacing: 0.8px

.services
    background-color: #f3f3f3

.accusamus
    font-weight: 700

.team
    background-image: url(../img/123.jpg)
    height: 190px
    background-repeat: no-repeat
    background-size: cover

.already
    color: #ffffff
    font-family: 'open_sansregular'
    font-size: 19px
    font-weight: 400
    line-height: 23.72px
    letter-spacing: 0.8px
    padding-top: 5%

.price
    background-color: #f3f3f3

.cardprice
    padding-left: 0px
    padding-right: 0px

.card
    border: 0px

.pricecard
    background-color: #19bd9a
    height: 40px
    min-height: 60px
    padding-top: 17px
    color: #ffffff
    font-family: 'open_sansregular'
    font-size: 19px
    font-weight: 600
    line-height: 23.72px
    letter-spacing: 0.8px

.bold
    color: #1fbba6
    font-size: 40px
    font-weight: 1000
    letter-spacing: normal
    font-family: 'source_sans_prolight'
    text-decoration: uppercase
    padding-top: 30px

.titleone
    margin-bottom: 0px

.per
    color: #81868e
    font-family: 'open_sansregular'
    font-weight: 500
    padding-bottom: 30px

.perx
    color: #81868e
    font-family: 'open_sansregular'
    font-weight: 500
    text-align: left
    padding: 15px

.contacts
    color: #464646
    font-family: 'open_sansregular'
    font-size: 15px
    font-weight: 800
    letter-spacing: 0.8px

.contact_text a
    color: #81868e
    font-family: 'open_sansregular'
    font-size: 13px
    font-weight: 500
    font-style: normal
    letter-spacing: normal
    text-transform: uppercase
    text-decoration: none

.contact_text a:hover
    color: #1fbba6
    text-decoration: underline

.contact_text a:active
    color: #697a76
    font-weight: 600
    text-decoration: underline

.contact
    background-color: #ffffff

.name
    padding-left: 10px !important
    padding-right: 10px !important

.area
    padding-left: 5px !important
    padding-right: 5px !important

.topleft
    padding-right: 20px !important
    padding-left: 20px !important

.area1
    padding-left: 10px !important
    padding-right: 10px !important
    background-color: #19bd9a

.map
    background-image: url(../img/map2.jpg)
    // filter: grayscale(100%)
    // filter: black
    height: 472px
    background-repeat: no-repeat
    background-size: cover

.textmap
    padding-top: 17%

.textmap a
    color: #ffffff
    font-family: 'open_sansregular'
    font-size: 19px
    font-weight: 500
    letter-spacing: 0.8px

.find
    padding-top: 18%
    padding-bottom: 18%

.footer
    background-color: #f3f3f3
    height: 60px+52px+117px

.text15 a
    @extend %open

#bouncy1
    color: #323a45
    // color: #030303;
    font-family: 'big_johnregular'
    font-size: 24px
    font-weight: 400
    line-height: 11.39px
