#page-preloader 
    position: fixed
    left: 0
    top: 0
    right: 0
    bottom: 0
    z-index: 100
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231c968b' fill-opacity='0.14' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E")
    background-color: white


#page-preloader .spinner 
    width: 50px
    height: 50px
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto

    border: 5px solid #416766
    border-top: 5px solid #45d0cb
    border-radius: 50%
    animation: spin 1s linear infinite


@keyframes spin 
    0%
        transform: rotate(0deg)
    
    100%
        transform: rotate(360deg)
    

.home
    background-color: #ffffff
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231c968b' fill-opacity='0.14' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E")

.navbar-menu
    font-family: 'TT Lakes Condensed'
    font-size: 20px
    font-weight: bold
    justify-content: space-between

.navbar-menu a:hover
    text-decoration: underline
    color: black

.navbar-menu a:active
    background-color: rgba(216, 123, 17, 0.61)

.title
    text-align: center
    font-size: 160px
    color: black
    font-family: 'Lovers Quarrel', cursive

.title1
    text-align: center
    font-size: 20px
    color: black
    text-transform: uppercase
    letter-spacing: 15px
    font-family: 'TT Lakes Condensed'

.wave-divider
    width: 100%
    height: 60px
    display: block

.wave-parallax1
    animation: wave-move1 10s linear infinite

.wave-parallax2
    animation: wave-move2 8s linear infinite

.wave-parallax3
    animation: wave-move3 6s linear infinite

.wave-parallax4
    animation: wave-move4 4s linear infinite

@keyframes wave-move1
    0%
        transform: translateX(85px)

    100%
        transform: translateX(-90px)

@keyframes wave-move2
    0%
        transform: translateX(-90px)

    100%
        transform: translateX(85px)

@keyframes wave-move3
    0%
        transform: translateX(85px)

    100%
        transform: translateX(-90px)

@keyframes wave-move4
    0%
        transform: translateX(-90px)

    100%
        transform: translateX(85px)

.dark-block
    background: #2ea39f

.dark-bg
    background: #2ea39f

.about
    background-image: url(../img/photo.jpg)
    background-repeat: no-repeat
    background-size: cover
    height: 100vh

.col1
    padding-left: 15%

.box1
    height: 500px
    background: #2ea39f
    font-size: 20px
    padding: 16%
    color: black

.col2
    padding-top: 5%

.photo
    flex-direction: row
    flex-wrap: wrap
    display: flex

.scale:hover
    transform: scale(1.4)

.scale
    transition: 1s

.contact
    font-family: 'TT Lakes Condensed'
    font-weight: bold
    font-size: 20px
    background-color: rgb(255, 255, 255)
    padding-bottom: 30px
    padding-top: 7%
    line-height: 1

.form
    width: 30vw
    height: 20%
    border-radius: 10px
    font-family: 'TT Lakes Condensed'
    font-weight: bold

.button
    padding-top: 30px
    padding-bottom: 30px

.button button
    font-size: 20px
    background: rgba(3, 179, 164, 0.603)
    border-radius: 10px
    padding: 2% 5% 2% 5%
    font-family: 'TT Lakes Condensed'
    font-weight: bold
    box-shadow: 5px 7px 7px -2px rgba(46, 50, 50, 0.92)

.footer
    text-align: center
    padding-top: 30px
    padding-bottom: 30px
    line-height: 1
    font-family: 'TT Lakes Condensed'
    font-weight: bold
    background-color: rgba(255, 255, 255, 0.192)

.social
    list-style: none
    padding: 0

// .social>.item 
//     display: inline-block
